@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
html {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.center-xy {
  top: 50%;
  left: 50%;
  right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

canvas {
  display: block;
  margin: 0 auto;
}

.copy-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.5);
  padding: 10px;
  pointer-events: none;
}
.copy-container h1 {
  color: #444;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.2px;
  margin: 0 0 3px;
}
.copy-container h2 {
  color: #bbb;
  font-size: 18px;
  letter-spacing: 0.2px;
  margin: 0;
}

.button{
  margin-top: 20px;
  color: black;
  background-color: transparent;
  border-radius: 25px;
  border: black 2px solid;
}