@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inconsolata&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--highlight: #d33a03;
	--dark-grey: #333333;
	--lite-grey: #777777;
}

body {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: stretch;
	justify-content: center;
	font-family: "Fira Sans", sans-serif;
}

ul {
	list-style: none;
}

input[type="checkbox"] {
	appearance: none;
}

section { 
	display: grid;
	/*grid-template-columns: 25% 1fr;
	padding: 2em;*/
	margin-top: 80px;
}

/* Main Staff List 
------------------------------------------------*/
main {
	margin-left: 50px;
    margin-right: 20px;
}
main h3 {
	font-family: "Inconsolata", sans-serif;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--dark-grey);
}
main ul {
	margin-top: 2em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 2em;
}

.card {
    background-color: #ffffff79;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	display: grid;
	grid-template-columns: 70px 1fr;
	column-gap: 5px;
	align-items: center;
	padding: 0.5em 1em;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border: 1px solid #e2e2e2;
	border-radius: 1.2em;
	-webkit-border-radius: 1.2em;
	-moz-border-radius: 1.2em;
	-ms-border-radius: 1.2em;
	-o-border-radius: 1.2em;
}
.card__photo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.card__info h4 {
	font-family: "Fira Sans", sans-serif;
	font-size: 1.1rem;
	font-weight: 400;
	color: var(--dark-grey);
}
.card__info p {
	font-family: "Inconsolata", sans-serif;
	font-size: 0.9rem;
	font-style: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--lite-grey);
}

/* Tags Sidebar
------------------------------------------------*/
aside h3 {
	font-family: "Inconsolata", sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--dark-grey);
}
aside ul {
	padding: 0.5em 0;
}
aside li {
	display: inline-block;
}
aside label {
	font-family: "Fira Sans", sans-serif;
	font-size: 0.9rem;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 20px;
	text-transform: none;
	color: var(--lite-grey);
	cursor: pointer;
}
/* Removes the last comma */
aside li:last-of-type label > span {
	display: none;
}

/* Developer */
/* If any tag is selected then hide all posts... */
aside:has(:checked) + main li {
	display: none;
}
/* and only show the selected posts... */
aside:has(#developer:checked) + main li[data-tag="developer"] {
	display: grid;
}
/* then highlight the selected tag */
aside label:has(+ #developer:checked) {
	font-weight: bold;
	color: var(--highlight);
}

/* Engineer */
aside label:has(+ #engineer:checked) {
	font-weight: bold;
	color: var(--highlight);
}
aside:has(#engineer:checked) + main li[data-tag="engineer"] {
	display: grid;
}
/* Designer */
aside label:has(+ #designer:checked) {
	font-weight: bold;
	color: var(--highlight);
}
aside:has(#designer:checked) + main li[data-tag="designer"] {
	display: grid;
}
/* UI */
aside label:has(+ #ui:checked) {
	font-weight: bold;
	color: var(--highlight);
}
aside:has(#ui:checked) + main li[data-tag="ui"] {
	display: grid;
}
/* Mobile */
aside label:has(+ #mobile:checked) {
	font-weight: bold;
	color: var(--highlight);
}
aside:has(#mobile:checked) + main li[data-tag="mobile"] {
	display: grid;
}
/* SEO */
aside label:has(+ #seo:checked) {
	font-weight: bold;
	color: var(--highlight);
}
aside:has(#seo:checked) + main li[data-tag="seo"] {
	display: grid;
}
/* Dev Ops */
aside label:has(+ #dev-ops:checked) {
	font-weight: bold;
	color: var(--highlight);
}
aside:has(#dev-ops:checked) + main li[data-tag="dev-ops"] {
	display: grid;
}
/* Tester */
aside label:has(+ #tester:checked) {
	font-weight: bold;
	color: var(--highlight);
}
aside:has(#tester:checked) + main li[data-tag="tester"] {
	display: grid;
}

@media (max-width: 700px) {
	section {
		width: 90vw;
		display: block;
		align-items: flex-start;
	}
	main {
		margin-top: 1em;
		padding: 0;
		height: 100%;
	}
}

.cen{
	text-align: center;
}

.card2 {
    background-color: #ffffff85;
	grid-template-columns: 70px 1fr;
	column-gap: 5px;
	align-items: center;
	padding: 0.5em 1em;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border: 1px solid #e2e2e2;
	border-radius: 1.2em;
	-webkit-border-radius: 1.2em;
	-moz-border-radius: 1.2em;
	-ms-border-radius: 1.2em;
	-o-border-radius: 1.2em;
	text-align: center;
}

.card3 {
    background-color: #ffffff79;
    margin-top: 50%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	grid-template-columns: 70px 1fr;
	column-gap: 5px;
	align-items: center;
	padding: 0.5em 1em;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border: 1px solid #e2e2e2;
	border-radius: 1.2em;
	-webkit-border-radius: 1.2em;
	-moz-border-radius: 1.2em;
	-ms-border-radius: 1.2em;
	-o-border-radius: 1.2em;
	text-align: center;
	padding-bottom: 40%;
}

.r-button{
    --uirButtonBackgroundColor: var(--rButtonBackgroundColor, transparent);
    --uirButtonPadding: var(--rButtonPadding, var(--rButtonPaddingTop, 0) var(--rButtonPaddingRight, 0) var(--rButtonPaddingBottom, 0) var(--rButtonPaddingLeft, 0));
    --uirButtonBorderWidth: var(--rButtonBorderWidth, 0);
    --uirButtonBorderStyle: var(--rButtonBorderStyle, solid);
    --uirButtonBorderColor: var(--rButtonBorderColor, currentColor);
    --uirButtonFontFamily: var(--rButtonFontFamily, inherit);
    --uirButtonFontSize: var(--rButtonFontSize,  inherit);
    --uirButtonColor: var(--rButtonColor);
  
    background-color: var(--uirButtonBackgroundColor);
    padding: var(--uirButtonPadding);
  
    border-width: var(--uirButtonBorderWidth);
    border-style: var(--uirButtonBorderStyle);
    border-color: var(--uirButtonBorderColor);
  
    cursor: pointer;
  
    font-family: var(--uirButtonFontFamily);
    font-size: var(--uirButtonFontSize);
  }
  
  .r-button::-moz-focus-inner,
  .r-button[type="button"]::-moz-focus-inner,
  .r-button[type="reset"]::-moz-focus-inner,
  .r-button[type="submit"]::-moz-focus-inner {
    
    
    border-style: none;
    padding: 0;
  }
  
  
  .r-link{
      --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
      --uirLinkTextColor: var(--rLinkTextColor);
      --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
  
      display: var(--uirLinkDisplay) !important;
      color: var(--uirLinkTextColor) !important;
      text-decoration: var(--uirLinkTextDecoration) !important;
  }
  
  
  
  .r-list{
      --uirListPaddingLeft: var(--rListPaddingLeft, 0);
      --uirListMarginTop: var(--rListMarginTop, 0);
      --uirListMarginBottom: var(--rListMarginBottom, 0);
      --uirListListStyle: var(--rListListStyle, none);
  
      padding-left: var(--uirListPaddingLeft) !important;
      margin-top: var(--uirListMarginTop) !important;
      margin-bottom: var(--uirListMarginBottom) !important;
      list-style: var(--uirListListStyle) !important;
      text-align: center;
  }
  
  
  
  .m-hamburger{  
    --uiHamburgerThickness: var(--hamburgerThickness, 4px);
  
    display: var(--hamburgerDisplay, inline-flex);
    width: var(--hamburgerWidth, 28px);
    height: var(--hamburgerHeight, 20px);
  
    position: relative;
  }
  
  .m-hamburger::before, 
  .m-hamburger::after, 
  .m-hamburger__label{
    width: 100%;
    height: var(--uiHamburgerThickness);
    border-radius: var(--hamburgerBorderRadius, 5px);
    background-color: var(--hamburgerBackgroundColor, currentColor);
  
    position: absolute;
    left: 0;
  }
  
  .m-hamburger::before, 
  .m-hamburger::after{
    content:"";
  }
  
  .m-hamburger::before{
    top: 0;
  }
  
  .m-hamburger::after{
    bottom: 0;
  }
  
  .m-hamburger__label{
  
    
    top: calc(50% - calc(var(--uiHamburgerThickness) / 2));
  }
  
  
  
  .screen-reader{
    width: var(--screenReaderWidth, 1px) !important;
    height: var(--screenReaderHeight, 1px) !important;
    padding: var(--screenReaderPadding, 0) !important;
    border: var(--screenReaderBorder, none) !important;
  
    position: var(--screenReaderPosition, absolute) !important;
    clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
    overflow: var(--screenReaderOverflow, hidden) !important;
  }
  
  
  
  .menu{
    --uiMenuCircleSize: var(--menuCircleSize, 6.25rem);
    --uiMenuCircleOffset: var(--menuCircleOffset, 1rem);
    --uiMenuCircleHeight: calc(var(--uiMenuCircleSize) / 2);  
    --uiMenuCircleBackgroundColor: var(--menuCircleBackgroundColor, currentColor);
  
    --uiMenuHamburgerWidth: var(--menuHamburgerWidth, 1.75rem);
    --uiMenuHamburgerHeight: var(--menuHamburgerHeight, 1.25rem);
    
    --rButtonPaddingTop: calc(var(--uiMenuCircleHeight) - var(--uiMenuHamburgerHeight) - var(--uiMenuCircleOffset));
    
    --hamburgerWidth: var(--uiMenuHamburgerWidth);
    --hamburgerHeight: var(--uiMenuHamburgerHeight);
    --hamburgerBackgroundColor: var(--menuHamburgerBackgroundColor, #fff);
  
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;  
  
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--menuZindex, 9998);
  }
  
  .menu__nav{
    box-sizing: border-box;
    width: 100%;
    height: 0;
  
    transition: opacity .2s ease-out;
    opacity: 0;
  
    display: flex;
    align-items: flex-end;
    z-index: 2;
  }
  
  .menu__list{
    text-align: center;
    width: 100%;
    max-height: 100%;
  
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .menu__toggle{
    box-sizing: border-box;
    width: var(--uiMenuCircleSize);
    height: var(--uiMenuCircleHeight);
    flex: none;
  
    position: relative;
  }
  
  .menu__toggle::before{
  
    content: "";
    width: 1em;
    height: 1em;
    font-size: var(--uiMenuCircleSize); /* 1 */
  
    background-color: var(--uiMenuCircleBackgroundColor);
    border-radius: 50%;
  
    position: absolute;
    bottom: -.5em; /* 2 */
    left: calc(50% - .5em);
    z-index: -1;
  
    will-change: width, height;
    transition: transform .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
                width .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
                height .25s cubic-bezier(0.04, -0.1, 0.29, 0.98);
  }
  
  
  .m-hamburger::before, 
  .m-hamburger::after, 
  .m-hamburger__label{
    transition-timing-function: ease;
    transition-duration: .15s;  
  }
  
  .m-hamburger::before, 
  .m-hamburger::after{
    transition-property: transform;
  }
  
  .m-hamburger__label{
    transition-property: transform, opacity;
  }
  
  
  
  .menu__toggle:focus{
    /*outline: var(--menuHaburgerOutlineOWidth, 2px) solid var(--menuHaburgerOutlineColor);*/
    outline-offset: var(--menuHaburgerOutlineOffset, 5px);
  }
  
  .menu_activated{
    height: 100%;
  }
  
  .menu_activated .menu__nav{
    flex-grow: 1;
    opacity: 1;
  
    will-change: opacity;
    transition-duration: .2s;
    transition-delay: .3s;
  }
  
  .menu_activated .menu__toggle::before{
    width: 100vmax;
    height: 100vmax;
    transform: translate3d(-50vh, -50vh, 0) scale(5);
    transition-duration: 1s;
  }
  
  .menu:not(.menu_activated) .menu__list{
    display: none;
  }
  
  .menu_activated .m-hamburger::before{
    top: 50%;
    transform: translate3d(0, -50%, 0) rotate(45deg);
  }
  
  .menu_activated .m-hamburger::after{
    transform: translate3d(0, -50%, 0) rotate(135deg);
    top: 50%;
  }
  
  .menu_activated .m-hamburger__label{
    transform: rotate(-45deg) translate3d(-.285em,-.3em, 0);
    opacity: 0;
  }
  
  :root{
    
    --colorWhite: rgb(0, 0, 0);
    --colorMain: #ffffff;
    --menuCircleBackgroundColor: var(--colorMain);
    --menuHamburgerBackgroundColor: var(--colorWhite);
    --menuHaburgerOutlineColor: var(--colorMain);
  
  
  
    background: linear-gradient(90deg, rgba(118,120,167,1) 0%, rgba(72,150,166,1) 27%, rgba(163,191,165,1) 55%, rgba(244,227,211,1) 81%, rgba(255,242,247,1) 100%);
  
      background-size: 400% 400%;
      -webkit-animation: gradient 15s ease infinite;
              animation: gradient 15s ease infinite;
      height: 100vh;
  }
  
  @-webkit-keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  
  
  
  .menu_activated{
    --menuHaburgerOutlineColor: var(--colorWhite);
  }

  
  .page{
    max-width: 380px;
    padding: 1rem;
    margin: auto;  
    text-align: center;
  }
  
  .page__name{
    display: block;
    font-size: 2rem;
    font-weight: 700;
  }
  
  .page__hint{
    display: block;
    line-height: 1.45;
    margin-top: 1rem;
  }
  
  .menu__group{
    --rLinkTextColor: var(--colorWhite);
  
    padding: .5rem 2rem; 
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .linktr{
    order: -1;
    padding: 5%;
    text-align: left;
    text-align: center;
  }
  
  .linktr__goal{
    background-color: #d1f6ff;
    color: rgb(8, 49, 112);
    box-shadow: rgb(8 49 112 / 24%) 0px 2px 8px 0px;
    border-radius: 2rem;
    padding: 2%;
  }
  
  @media (min-width: 1024px){
    
    .linktr{
      text-align: center;
      bottom: 1rem;
    }
  }
  
  .center{
    position: absolute;
    top: 35%; 
  }
  
  .cont{
    position: relative;
  }
  
  .redond{
    color: black;
    
  }
  
  .comment2{
    background-color: #d1f6ff;
    text-align: center;
    margin-left: 100prelativex;
    margin-right: relative;
  }
  
  
  .comment{
    text-align: center;
    border-radius: 25px;
  }
  
  .cen{
    margin-left: 0;
    margin-right: 50px;
    margin-left: 20px;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .izqui{
    margin-right: 40px;
    margin-left: 40px;
  }
  
  .center-text{
    text-align: center;
    padding: 35px;
  
  }
  
  
  /*clases de codigo random*/
  
  #btn-mas{
    display: none;
  }
  .cotenido{
    position: fixed;
    bottom: 10px;
    left: 20px;
      z-index:99;
  }
  .redes {
  display: flex;
  flex-direction: column;
  width: 250px;
  opacity: 0;
  transition: all 500ms ease;
  visibility: hidden;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
  border-radius: 10px;
  color: #fff;
  background: #fff;
  
  }
  .redes .encabezado{
  display: flex;
  flex-direction: column;
  background: rgb(88 101 242);
  color: #fff;
  padding: 15px 10px;
  border-radius: 10px 10px 0px 0px;
  }
  .redes .encabezado b{
  font-size: 20px;
  padding-bottom: 5px;
  }
  .redes .agentes  i{
  font-size: 25px;
  padding: 10px;
  margin: 5px 10px;
  color: #fff;
  background: rgb(88 101 242);
  border-radius: 100px;
  
  }
  .redes .agentes ul{
  list-style: none;
  padding: 15px 0;
  
  }
  .agentes{
  overflow: auto;
  max-height: 300px;
  
  }
  .redes .agentes li{
  color: #000;
  font-size: 18px;
  font-weight: 500;
  }
  .redes .agentes a{
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }
  .redes .agentes::-webkit-scrollbar {
     -webkit-appearance: none;
  }
  
  .redes .agentes::-webkit-scrollbar:vertical {
     width:10px;
  }
  
  .redes .agentes::-webkit-scrollbar-button:increment,.redes .agentes::-webkit-scrollbar-button {
     display: none;
  } 
  
  .redes .agentes::-webkit-scrollbar:horizontal {
     height: 10px;
  }
  
  .redes .agentes::-webkit-scrollbar-thumb {
     background-color: #777;
     border-radius: 20px;
     border: 2px solid #777;
  }
  
  .redes .agentes::-webkit-scrollbar-track {
     border-radius: 10px;  
  }
        
  .btn-mas label{
    left: 0;
    display: block;
    text-decoration: none;
    font-size: 30px;
    color: #fff !important;
    width: 50px;
    height: 50px;
    line-height:50px;
    text-align: center;
    padding: 2px;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
  }
  
  
  #btn-mas:checked~ .redes {
    margin-bottom: 5px;
    opacity: 1;
    visibility: visible;
  }
  .btn-mas label{
    cursor: pointer;
    background: rgb(88 101 242);
    font-size: 30px;
  
  }
  
  .cursor{
    cursor: pointer;
  }
  