<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Creditos</title>
  <meta name="viewport" content="width=device-width">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Quicksand:wght@700&amp;display=swap'><link rel="stylesheet" href="/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="card3">
	<section class="cen" id="app">
		<!--<aside>
			<h3>Filtrar por rol</h3>
			<ul>
				<li v-for="(tag, i) in tags">
					<label :for="tag">{{ tag }}<span>, </span></label>
					<input type="checkbox" :id="tag">
				</li>
			</ul>
		</aside>-->
		<main>
			<h3 class="card2">Nuestro Personal</h3>
			<ul>
				<li v-for="(staff, i) in personnel" :data-tag="staff.role" class="card">
					<img class="card__photo" :src="staff.photo" alt="staff photo">
					<span class="card__info">
						<h4>{{ staff.name }}</h4>
						<p>{{ removeDash(staff.role) }}</p>
					</span>
				</li>
			</ul>
		</main>
	</section>
</div>
<!-- partial -->
  <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script><script  src="/js/scrip.js"></script>

</body>
</html>
